/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-picture: url('../images/cover-image-dark.png');
  --page-background-color: #000028;
  --paragraph-text-color: #f1b2ce;
  --header-background-color: #ff0070;
  --subsection-title-color: #ff0070;
  --header-title-color: #db00ff;
  --header-title-shadow: #ff0070;
  --button-text-color: #ff0070;
  --button-border-color: #ff0070;
  --decoration-color: #ff0070;
  --subsection-item-title-color: #000028;
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) {
    --background-picture: url('../images/cover-image-dark.png');
    --page-background-color: #000028;
    --paragraph-text-color: #f1b2ce;
    --header-background-color: #ff0070;
    --subsection-title-color: #ff0070;
    --header-title-color: #db00ff;
    --header-title-shadow: #ff0070;
    --button-text-color: #ff0070;
    --button-border-color: #ff0070;
    --button-hover-border-color: rgba(255, 0, 112, 0.4);
    --decoration-color: #ff0070;
    --subsection-item-title-color: #000028;
  }
}
